.footer
    a(rel="to-top", href="#top")
        i.icofont-circle-arrow-up
script(src='/app/app.js')
script(src='/app/services.js')
script(src='/app/controllers.js')
script(src='/js/moment.js')
script(src='/js/bootstrap.js')
script(src="/js/toastr.min.js")
script(src='/socket.io/socket.io.js')