meta(charset="utf8")
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
title= pageTitle
style.
    [ng:\cloak],[ng-cloak],.ng-cloak { display: none; !important; }
link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Aclonica:regular", type="text/css")
link(rel="stylesheet", href="/css/bootstrap.min.css")
link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
link(id="style-base", href="/css/stilearn.css", rel="stylesheet")
link(id="style-responsive", href="/css/stilearn-responsive.css", rel="stylesheet")
link(id="style-helper", href="/css/stilearn-helper.css", rel="stylesheet")
link(rel="stylesheet", href="/css/stilearn-icon.css")
link(rel="stylesheet", href="/css/font-awesome.css")
link(rel="stylesheet", href="/css/smoothness/jquery-ui-1.10.3.custom.min.css")
link(rel="stylesheet", href="/css/toastr.min.css")
link(rel="stylesheet", href="/css/DT_bootstrap.css")
link(rel="stylesheet", href="/css/custom.css")
link(rel="stylesheet", href="/css/card-view.css")

script(src='/js/jquery-1.9.1.js')
script(src='/js/jquery-ui-1.10.3.custom.min.js')
script(src='/js/angular.min.js')
script(src='/js/angular-cookies.min.js')
script(src='/js/ui-bootstrap-tpls-0.3.0.min.js')
//
 Le HTML5 shim, for IE6-8 support of HTML5 elements
//if lt IE 9
  script(src="js/html5shiv.js")
