.navbar-helper(ng-controller="NavbarController")
    .row-fluid
        .span2
            .panel-sitename
                h2
                    a(href="/") Arcana
        .span7
        .span2
            .panel-ext
                .btn-group(ng-show="isLoggedIn")
                    a.btn.btn-inverse.dropdown-toggle(data-toggle="dropdown", href="javascript:;", style="margin-top: 10px;")
                        {{ currentUsername }} &nbsp;&nbsp;
                        i.icon-white.icon-cog(style="margin-top: 3px;")
                    ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
                        li
                            a(href="javascript:;") Profile
                        li
                            a(href="javascript:;") Messages
                        li.divider
                        li
                            a(href="/logout") Logout
                .btn-group(ng-show="!isLoggedIn")
                    a.btn.btn-inverse(href="/login", style="margin-top: 10px;")
                        i.icofont-signin
                        | &nbsp;Login&nbsp;
                .btn-group(ng-show="!isLoggedIn")
                    a.btn.btn-inverse(href="/register", style="margin-top: 10px;")
                        i.icon-user.icon-white(style="margin-top: 3px;")
                        | &nbsp;Register&nbsp;