.span1(ng-controller="SidebarController")
    aside.side-left
        ul.sidebar
            li.first
                a(href="/", title="Home")
                    .helper-font-24
                        i.icofont-home
                    span.sidebar-text Home
            li(ng-show="isLoggedIn")
                a(href="/lobby", title="Lobby")
                    .helper-font-24
                        i.icofont-table
                    span.sidebar-text Lobby
            li(ng-show="isLoggedIn && isAdmin")
                a(href="/admin", title="Admin")
                    .helper-font-24
                        i.icofont-edit
                    span.sidebar-text Admin
                ul.sub-sidebar-form.corner-top.shadow-white
                    li
                        a.corner-all(href="/admin/users", title="Users")
                            i.icofont-user(style="margin-top: 2px;")
                            | &nbsp;&nbsp;
                            span.sidebar-text Users
                    li
                        a.corner-all(href="/admin/rooms", title="Rooms")
                            i.icofont-th-large(style="margin-top: 2px;")
                            | &nbsp;&nbsp;
                            span.sidebar-text Rooms
                    li
                        a.corner-all(href="/admin/tables", title="Tables")
                            i.icofont-table(style="margin-top: 2px;")
                            | &nbsp;&nbsp;
                            span.sidebar-text Tables
                    li
                        a.corner-all(href="/admin/cards", title="Cards")
                            i.icofont-building(style="margin-top: 2px;")
                            | &nbsp;&nbsp;
                            span.sidebar-text Cards