extends layout

block content
    .main
        .container
            .widget.stacked
                .widget-header
                    i.icon-user
                    h3 User Administration
                .widget-content(ng-controller="UserAdminController")
                    p.alert.alert-error(ng-show="errorMessage")
                        {{ errorMessage }}
                    div
                        .clearfix
                            .pull-left
                                button.btn.btn-primary.pull-left(type="button", ng-click="addUser()")
                                    i.icon-plus-sign
                                    | &nbsp;Add User
                            .pull-right
                                .pagination.pagination-right(ng-show="pages > 1")
                                    ul
                                        li(ng-class="(currentPage == 1) && 'disabled'")
                                            a(href="#", ng-disabled="currentPage == 1", ng-click="getUsers(currentPage - 1)")
                                                i.icon-chevron-left
                                        li(ng-repeat="i in [] | range:pages", ng-class="($index + 1 == currentPage) && 'active'")
                                            a(href="#", ng-click="getUsers($index + 1)") {{ i + 1 }}
                                        li(ng-class="(currentPage == pages) && 'disabled'")
                                            a(href="#")
                                                i.icon-chevron-right
                            .pull-right
                                select(ng-model="numPerPage", style="width: 5em;")
                                    option(value="5") 5
                                    option(value="10") 10
                                    option(value="15") 15
                                    option(value="25") 25
                                    option(value="50") 50
                                | &nbsp;per page
                            table.table.table-striped.table-bordered
                                thead
                                    tr
                                        th Username
                                        th Email Address
                                        th(style="text-align: center;") Admin
                                        th Operations
                                tbody
                                    tr(ng-repeat="user in users")
                                        td(style="vertical-align: middle;") {{ user.username }}
                                        td(style="vertical-align: middle;") {{ user.email }}
                                        td(style="text-align: center; color: green; vertical-align: middle;")
                                            i.icon-ok(ng-show="user.isAdmin")
                                        td(style="vertical-align: middle;")
                                            button.btn(ng-click="$parent.editUser(user._id)") Edit
                                            | &nbsp;&nbsp;
                                            button.btn.btn-danger(ng-click="$parent.removeUser(user._id)") Delete
                            .clearfix(ng-show="pages > 1")
                                .pull-left
                                    button.btn.btn-primary.pull-left(ng-click="addUser()")
                                        i.icon-plus-sign
                                        | &nbsp;Add User
                                .pull-right
                                    .pagination.pagination-right(ng-show="pages > 1")
                                        ul
                                            li(ng-class="(currentPage == 1) && 'disabled'")
                                                a(href="#", ng-disabled="currentPage == 1", ng-click="getUsers(currentPage - 1)")
                                                    i.icon-chevron-left
                                            li(ng-repeat="i in [] | range:pages", ng-class="($index + 1 == currentPage) && 'active'")
                                                a(href="#", ng-click="getUsers($index + 1)") {{ i + 1 }}
                                            li(ng-class="(currentPage == pages) && 'disabled'")
                                                a(href="#")
                                                    i.icon-chevron-right