extends layout

block content
    .span11
        .content
            .content-header.admin-custom-header
                h2
                    i.icofont-table
                    span &nbsp;Table Administration
            .content-breadcrumb
                ul.breadcrumb.admin-custom-breadcrumb
                    li
                        a(href="/")
                            i.icofont-home
                            | &nbsp;Home
                        span.divider &rsaquo;
                    li
                        a(href="/admin") Admin Dashboard
                        span.divider &rsaquo;
                    li.active Table Administration
            .content-body.admin-custom-content-body
                .row-fluid
                    .span12
                        .box.corner-all
                            .box-header.grd-white.corner-top
                                span Tables
                            .box-body(ng-controller="TableAdminController")
                                p.alert.alert-error(ng-show="errorMessage")
                                    {{ errorMessage }}
                                .row-fluid
                                    .span6
                                        .dataTables_length
                                            .pull-left
                                                button.btn.btn-primary.pull-left(type="button", ng-click="addTable()")
                                                    i.icofont-plus-sign
                                                    | &nbsp; Add Table
                                                | &nbsp;
                                                button.btn.btn-primary.pull-left(type="button", ng-click="populateTables()", ng-show="true") Populate Tables
                                            label(style="margin-left: 10px;")
                                                select(ng-model="numPerPage", style="width: 5em;")
                                                    option(value="5") 5
                                                    option(value="10") 10
                                                    option(value="15") 15
                                                    option(value="25") 25
                                                    option(value="50") 50
                                                | &nbsp;per page
                                    .span6
                                        .dataTables_filter
                                            label
                                                | Filter by room: &nbsp;
                                                select(ng-model="selectedRoom")
                                                    option(value="all") All
                                                    option(ng-repeat="room in rooms", value="{{ room.roomName }}") {{ room.roomName }}
                                table.table.table-striped.table-bordered
                                    thead
                                        tr
                                            th Table Name
                                            th Room
                                            th Current Status
                                            th Seats
                                            th Operations
                                    tbody
                                        tr(ng-repeat="table in tables")
                                            td(style="vertical-align: middle;") {{ table.tableName }}
                                            td(style="vertical-align: middle;") {{ table.roomName }}
                                            td(style="vertical-align: middle;") {{ table.status }}
                                            td(style="vertical-align: middle;")
                                                ul
                                                    li(ng-repeat="seat in table.seats") Position {{seat.position}} - {{ (seat.username) ? seat.username : 'No Player' }} &nbsp;
                                                        a(href="javascript:;", ng-show="seat.username", ng-click="kickPlayer(table._id, seat.position)") Kick Player
                                            td(style="vertical-align: middle;")
                                                button.btn(ng-click="$parent.editTable(table._id)") Edit
                                .row-fluid
                                    .span6
                                        .dataTables_info
                                            | Showing 1 to 10 of 46 entries
                                    .span6
                                        .dataTables_paginate.paging_bootstrap.pagination
                                            ul
                                                li.prev(ng-class="(currentPage == 1) && 'disabled'")
                                                    a(href="javascript:;", ng-disabled="currentPage == 1", ng-click="getPreviousPage()") &larr; Previous
                                                li(ng-repeat="i in [] | range:pages", ng-class="($index + 1 == currentPage) && 'active'")
                                                    a(href="javascript:;", ng-click="getUsers($index + 1)") {{ i + 1 }}
                                                li.next(ng-class="(currentPage == pages) && 'disabled'")
                                                    a(href="javascript:;", ng-click="getNextPage()") Next &nbsp;&rarr;