extends layout

block content
    .main
        .container-fluid
            .widget.stacked
                .widget-header
                    i.icon-th-large
                    h3 Welcome to Arcana!
                .widget-content(ng-controller="IndexController")