!!! 5
html(lang="en", ng-app="arcana", ng-controller="MainController")
    head
        include includes/header
    body(ng-cloak="ng-cloak")
        header.header
            include includes/navbar
        section.section
            .row-fluid
                include includes/sidebar
                block content
        include includes/footer