!!! 5
html(lang="en", ng-app="arcana", ng-controller="MainController")
    head
        include includes/header
    body(ng-cloak="ng-cloak")
        include includes/navbar
        .main
            .container
                .row
                    block content
        include includes/footer