extends layout

block content
    .span9(ng-controller="LobbyController")
        .content
            .content-breadcrumb
                ul.breadcrumb-nav.pull-right
                    li.btn-group(ng-repeat="room in rooms")
                        a.btn.btn-small.btn-link(href="javascript:;", ng-click="changeRoom(room.roomName)", ng-class="(room.roomName == currentRoom.roomName && 'active')")
                            i.icofont-tasks
                            | &nbsp;{{ room.roomName }}
                ul.breadcrumb
                    li
                        a(href="/")
                            i.icofont-home
                            | &nbsp; Home
                        span.divider &rsaquo;
                    li
                        a(href="/lobby") Lobby
                        span.divider &rsaquo;
                    li.active
                        | Current room: {{ currentRoom.roomName }} - {{ currentRoom.numPlayers }} player
            .content-body
                .row-fluid
                    .span4(ng-repeat="tbl in tables", ng-style="clearLeftMargin($index, 3)")
                        .box.corner-all(ng-controller="TableController", ng-init="init(tbl)")
                            .box-header.grd-white
                                span {{ table.tableName }}&nbsp; - &nbsp;
                                span.muted(style="font-size: 11px;") {{ table.status }}
                            .box-body
                                .span12
                                    .span8
                                        a.b-btn.btn-block.seat-btn.grd-white.clearLeftMargin(href="javascript:;", ng-click="takeSeat(seat)", ng-show="!seat.username")
                                            span.b-btn-text.seat-text Take Seat
                                        a.b-btn.btn-block.seat-btn.grd-white.clearLeftMargin(href="javascript:;", ng-click="leaveSeat(seat)", ng-show="seat.username", ng-disabled="seat.username != currentUser.username")
                                            span.b-btn-text.helper-font-18 {{ (seat.username != currentUser.username) ? seat.username : 'Leave Seat' }}
                                    .span4
                                        label.checkbox
                                            .checker
                                                span
                                                    input(type="checkbox", ng-model="setTableLeader")
                                            small.helper-font-small Table Leader
                                .span12.clearLeftMargin
                                    .span6(ng-repeat="seat in table.seats", ng-style="clearLeftMargin($index, 2)")
                                        .alert.alert-success
                                            span.label {{ (!seat.username) ? 'Empty' : seat.username }}
                                //.half
                                    ul.no-left-m.seat-list
                                        li(ng-repeat="seat in table.seats")
                                            span.label(ng-show="!seat.username") Empty
                                            span.label.label-warning(ng-show="seat.username === currentUser.username)") You
                                            span.label.label-info(ng-show="seat.username !== currentUser.username") {{ seat.username }}
                        div(ng-class="($index + 1 % 3 == 0 && 'clear')")

    .span2(ng-controller="ChatController")
        aside.side-right
            .sidebar-right
                .sidebar-right-content
                    .side-chat
                        .chat-header
                            h5
                                i.icofont-certificate.color-green
                                | &nbsp; {{ currentUser.username }}&nbsp; - &nbsp;
                                span.muted {{ currentRoom }}
                        .chat-content
                            .chat-in(ng-repeat="msg in chatLog")
                                span.chat-time(ng-show="!msg.serverGenerated") {{ msg.timestamp | chatTime }}
                                strong.chat-user(ng-show="!msg.serverGenerated") {{ msg.user }}:
                                .chat-text {{ msg.body }}
                        .chat-input
                            .chat-desc.muted Enter your message:
                            textarea.input-block-level(placeholder="Message", ng-model="chatMsg")
                            button.btn.btn-small.btn-block(ng-click="sendMsg()") Submit
                    .divider-content
                        span