extends layout

block content
    .span12
        .widget.stacked
            .widget-header
                .icon-th-large
                h3 Login
            .widget-content(ng-controller="LoginController")
                p.alert.alert-error(ng-show="errorMessage")
                    span {{ errorMessage }}
                form.form-horizontal(name="loginForm")
                    fieldset
                        .control-group
                            label.control-label(for="username") Username:
                            .controls
                                input.input-large(type="text", name="username", id="username", placeholder="Username", ng-model="username", required)
                                .input-help
                                    h4 Username is required
                        .control-group
                            label.control-label(for="email") Email Address:
                            .controls
                                input.input-large(type="email", name="email", id="email", placeholder="Email Address", ng-model="email", required)
                                .input-help
                                    h4 Invalid email address
                        .form-actions
                            button.btn.btn-secondary.btn-large(ng-click="login()", ng-disabled="loginForm.$invalid") Sign In