extends layout

block content
    .account-container.stacked(ng-controller="LoginController")
        .content.clearfix
            form(name="loginForm")
                h1 Sign In
                .login-fields
                    p Sign in using your registered account:
                    .field
                        label(for="username") Username:
                        input.login.username-field(type="text", name="username", placeholder="Username", ng-model="username", required)
                    .field
                        label(for="password") Password:
                        input.login.password-field(type="password", name="password", placeholder="Password", ng-model="password", required)
                .login-actions
                    button.button.btn.btn-warning.btn-large(ng-click="login()", ng-disabled="loginForm.$invalid") Sign In
                .login-social(style="width: 100%;")
                    .twitter
                        a.btn_1(href="#") Login with Twitter
    .login-extra
        | Don't have an account?
        a(href="/register") Sign up!
        br
        | Reset
        a(href="#") Password