extends layout

block content
    .account-container.register.stacked(ng-controller="RegisterController")
        .content.clearfix
            form(name="registerForm")
                h1 Register
                .login-social(style="width: 100%;")
                    .twitter
                        a.btn_1(href="#") Login with Twitter
                .login-fields
                    .field
                        label(for="username") Username:
                        input(id="username", name="username", type="text", placeholder="Username", ng-model="username", required)
                    .field
                        label(for="email") Email Address:
                        input(id="email", name="email", type="email", placeholder="Email Address", ng-model="email", required)
                    .field
                        label(for="password") Password:
                        input(id="password", name="password", type="password", placeholder="Password", ng-model="password", required)
                    .field
                        label(for="confirmPassword") Confirm Password:
                        input(id="confirmPassword", name="confirmPassword", type="password", placeholder="Confirm Password", ng-model="confirmPassword", required)
                .login-actions
                    button.button.btn.btn-primary.btn-large(ng-click="register()", ng-disabled="registerForm.$invalid") Register
    .login-extra
        | Already have an account?
        a(href="/login") Login