<div class="row">
    <div class="span12">
        <div ng-controller="UserAdminController">
            <div class="clearfix">
                <div class="pull-left" style="margin: 20px 0;">
                    <button class="btn btn-primary pull-left" ng-click="editUser('new')" data-toggle="modal" href="#editModal">
                        <i class="icon-plus-sign"></i>&nbsp;Add User
                    </button>
                </div>
                <div class="pull-right">
                    <div class="pagination pagination-right" ng-show="pages > 1">
                        <ul>
                            <li ng-class="(currentPage == 1) && 'disabled'">
                                <a href="/admin#" ng-disabled="currentPage == 1" ng-click="getUsers(currentPage - 1)"><i class="icon-chevron-left"></i></a>
                            </li>
                            <li ng-repeat="i in [] | range:pages" class="{{ ($index + 1 == currentPage) && 'active' }}">
                                <a href="/admin#" ng-click="getusers($index + 1)">{{ i + 1 }}</a>
                            </li>
                            <li ng-class="(currentPage == pages) && 'disabled'">
                                <a href="/admin#" ng-disabled="currentPage == pages" ng-click="getUsers(currentPage + 1)"><i class="icon-chevron-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <select ng-model="numPerPage" style="width: 5em;">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                </select> per page
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Real Name</th>
                        <th style="text-align: center;">Admin</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users" ng-class="user.username == me.username && 'success'">
                        <td style="vertical-align: middle;">
                            {{ user.username }}
                            <span class="pull-right badge badge-success" ng-show="user.username == me.username">
                                You
                            </span>
                        </td>
                        <td style="vertical-align: middle;">
                            {{ user.firstName + ' ' + user.lastName }}
                        </td>
                        <td style="text-align: center; color: green; vertical-align: middle;">
                            <i class="icon-ok" ng-show="user.isAdmin"></i>
                        </td>
                        <td style="vertical-align: middle;">
                            <button class="btn" data-toggle="modal" href="#editModal" ng-click="$parent.editUser(user._id)">
                                <i class="icon-pencil"></i>&nbsp; Edit User
                            </button>
                            <button class="btn btn-danger" ng-click="$parent.removeUser(user._id)" ng-hide="user.username == me.username">
                                <i class="icon-trash"></i>&nbsp;Delete User
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="pages > 1" class="clearfix">
                <div class="pull-left" style="margin: 20px 0;">
                    <button class="btn btn-primary pull-left" ng-click="editUser('new')" data-toggle="modal" href="#editModal">
                        <i class="icon-plus-sign"></i>&nbsp;Add User
                    </button>
                </div>
                <div class="pull-right">
                    <div class="pagination pagination-right" ng-show="pages > 1">
                        <ul>
                            <li ng-class="(currentPage == 1) && 'disabled'">
                                <a href="/admin#" ng-disabled="currentPage == 1" ng-click="getUsers(currentPage - 1)"><i class="icon-chevron-left"></i></a>
                            </li>
                            <li ng-repeat="i in [] | range:pages" class="{{ ($index + 1 == currentPage) && 'active' }}">
                                <a href="/admin#" ng-click="getusers($index + 1)">{{ i + 1 }}</a>
                            </li>
                            <li ng-class="(currentPage == pages) && 'disabled'">
                                <a href="/admin#" ng-disabled="currentPage == pages" ng-click="getUsers(currentPage + 1)"><i class="icon-chevron-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal hide fade" id="editModal">
        <div ng-controller="UserEditModalController">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 ng-show="newUser">Create New User</h3>
                <h3 ng-hide="newUser">Edit User: {{ username }}</h3>
            </div>
            <form class="form-horizontal" id="user-edit-modal-form">
                <div class="modal-body">
                    <div class="control-group">
                        <label class="control-label">Username:</label>
                        <div class="controls">
                            <input type="text" ng-model="username" ng-disabled="!newUser" placeholder="Username" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">First Name:</label>
                        <div class="controls">
                            <input type="text" ng-model="firstName" placeholder="First Name" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Last Name:</label>
                        <div class="controls">
                            <input type="text" ng-model="lastName" placeholder="Last Name" />
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="isAdmin" /> Admin
                            </label>
                        </div>
                    </div>
                    <legend ng-show="editUser.editing._id">Change Password</legend>
                    <div class="control-group{{pwError && ' error' || ''}}">
                        <label class="control-label">Password:</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-key"></i></span>
                                <input type="password" ng-model="pw1" placeholder="Password" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group{{pwError && ' error' || ''}}">
                        <label class="control-label">Repeat Password:</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-key"></i></span>
                                <input type="password" ng-model="pw2" placeholder="Password" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn pull-left" data-dismiss="modal">
                        <i class="icon-reply"></i>&nbsp;&nbsp;Cancel
                    </button>
                    <button type="submit" class="btn btn-primary" ng-disabled="pwError || incomplete" ng-click="save()" data-dismiss="modal">
                        <i class="icon-save"></i>&nbsp;&nbsp;Save Changes
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>