<form class="form-horizontal" ng-controller="LoginController">
    <div class="row">
        <div class="span12">
            <div class="account-container register stacked">
                <div class="content clearfix">
                    <h1>Sign In</h1>
                    <div class="login-fields">
                        <p>Sign in using your registered account:</p>
                        <div class="field">
                            <label for="username">Username:</label>
                            <input type="text" ng-model="username" placeholder="Username" />
                        </div>
                        <div class="field">
                            <label for="password">Password:</label>
                            <input type="password" ng-model="password" placeholder="Password" />
                        </div>
                    </div>
                    <div class="login-actions">
                        <button class="button btn btn-warning btn-large" ng-click="login()">Sign In</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>