<form class="form-horizontal" ng-controller="LoginController">
    <div class="row">
        <div class="span12">
            <fieldset>
                <legend>Login</legend>
                <div class="alert alert-block" ng-show="validationMessages.length">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Uh oh!</strong> There seemed to be a few errors:
                    <ul>
                        <li ng-repeat="message in validationMessages">
                            {{validationMessages[$index]}}
                        </li>
                    </ul>
                </div>
                <div class="control-group">
                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                        <input type="text" ng-model="username" placeholder="Username" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="password" ng-model="password" placeholder="Password" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-primary" ng-click="login()">Login</button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</form>