<div ng-controller="NavbarController">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse collapse" id="main-menu">
                    <ul class="nav">
                        <li data-match-route="/home">
                            <a href="/home" tabindex="-1"><i class="icon-home icon-white"></i> Home</a>
                        </li>
                    </ul>
                    <ul class="nav pull-right" id="main-menu-right">
                        <li ng-show="loggedIn">
                            <a ng-click="logout()"><i class="icon-user"></i> Logout</a>
                        </li>
                        <li ng-show="!loggedIn">
                            <a href="/register"> Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>