<div ng-controller="NavbarController">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse collapse" id="main-menu">
                    <a class="brand" data-match-route="/home" href="/home">
                        Arcana
                    </a>
                    <ul class="nav">
                        <li ng-show="me.username" data-match-route="/lobby">
                            <a href="/lobby">Lobby</a>
                        </li>
                        <li ng-show="me.username && me.isAdmin" data-match-route="/admin">
                            <a href="/admin">Admin</a>
                        </li>
                    </ul>
                    <ul class="nav pull-right" id="main-menu-right">
                        <li ng-show="me.username">
                            <a ng-click="logout()">Logout</a>
                        </li>
                        <li ng-show="!me.username" data-match-route="/login">
                            <a href="/login">Login</a>
                        </li>
                        <li ng-show="!me.username" data-match-route="/register">
                            <a href="/register">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>